:root {
    --primary: #605DFF;
    --primary-dark: #4a00e0;
    --primary-light: #5DA8FF;
    --secondary: #1D1D1D;
    --social-background: #E9E9E9;
    --social-background-hover: #dddddd;
    --text: #1F2346;
    --white: #FFFFFF;
    --violet: #8e2de2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    padding: 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--violet);
    background: -webkit-linear-gradient(to right, var(--violet),
            var(--primary-dark));
    background: linear-gradient(to right, var(--violet),
            var(--primary-dark));
}

.socials-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.socials-row img {
    width: 24px;
    height: 24px;
}

.socials-row>a {
    padding: 8px;
    border-radius: 99px;
    width: 100%;
    min-height: 48px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 8px;
    background-color: var(--social-background);
    font-weight: 700;
}

.socials-row>a:hover {
    background-color: var(--social-background-hover);
}

.login-welcome-row {
    margin-bottom: 1rem;
    text-align: center;
}

.welcome-message {
    max-width: 360px;
}

.logo {
    height: 48px;
    margin: 0 auto;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    background-color: var(--white);
    width: 100%;
    max-width: 32rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    height: fit-content;
}

.my-form__button {
    background-color: var(--primary);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 99px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.my-form__button:hover {
    background-color: var(--primary-dark);
}

/*? input wrapper */
.input__wrapper {
    position: relative;
    padding: 15px 0 0;
    margin-bottom: 0.5rem;
}

.input__field {
    font-size: 1.5rem;
    color: var(--text);
    padding: 6px 0px;
    padding-right: 32px;
    padding-bottom: 8px;
    line-height: 2rem;
    height: 2rem;
    outline: 0px;
    border: 0px;
    width: 100%;
    vertical-align: middle;
    padding-bottom: 0.7rem;
    border-bottom: 3px solid var(--secondary);
    background: transparent;
    transition: border-color 0.2s;
}

.input__field::placeholder {
    color: transparent;
}


.input__label {
    user-select: none;
}

.input__field:placeholder-shown~.input__label {
    cursor: text;
    color: var(--text);
    top: 0.8rem;
    font-size: 1.2rem;
}

.input__label,
.input__field:focus~.input__label {
    position: absolute;
    top: -0.8rem;
    display: block;
    font-size: 1.2rem;
    color: var(--text);
    transition: 0.3s;
}

.input__field:focus~.input__label {
    color: var(--primary);
}

.input__field:focus {
    border-bottom: 3px solid var(--primary);
}

.input__field:focus~svg {
    stroke: var(--primary);
}

.input__icon {
    position: absolute;
    right: -14px;
    bottom: -11px;
    width: 36px;
    height: 36px;
    padding: 2px;
    transform: translate(-50%, -50%);
    transform-origin: center;
    cursor: pointer;
}

.input__icon:hover {
    border-radius: 50%;
}

/* my form actions */

.my-form__actions {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: var(--secondary);
    gap: 16px;
    margin-top: 8px;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}