

:root {
    --white: #FFF;
    --text-color: #62636F;
    --primary-violet: #6445AF;
    --gray-link: #9D9D9D;
    --gray-bottom: #F0F0F0;
}

body {
    font-family: 'Red Hat Display';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
}

.container {
	padding: 20px;
	margin: 10px;
    width: 100%;
    max-width: 640px;
    min-height: 500px;
	border-radius: 16px;
    background-color: var(--white);
	box-shadow: rgba(100, 100, 111, 0.2)
        0px 7px 29px 0px;	
    overflow: auto;
}
.container-trending {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.container-headline {
    width: 100%;
    display: flex;
    gap: 8px;
    font-weight: 700;
}

.container-headline svg {
    color: var(--text-color);
}

.container-description {
    width: 100%;
}

header {
    position: relative;
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: block;
}

.tabs {
    position: relative;
    display: flex;
    flex-grow: 1;
    gap: 8px;
    padding-top: 8px;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(
        --gray-bottom);
    margin-bottom: 12px;
}

.tabs > a {
    position: relative;
    display: flex;
    text-decoration: none;
    padding: 8px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    justify-content: start;
    color: var(--text-color);
    transition: all 0.2s 
        ease-in-out;
    align-items: center;
    margin-bottom: -1px;
    gap: 8px;
}

.tabs > a img {
    height: 20px;
    width: 20px;
}

.tabs > .active {
    font-weight: 700;
    outline: none;
    color: var(--primary-violet);
    border-bottom: 1px solid var(
        --primary-violet
    );
}

.tabs > a > svg {
    stroke: var(--white);
}

.tabs > .active > svg {
    stroke: var(
        --primary-blue);
}

.record {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 12px;
    height: 64px;
    opacity: 1;
    padding: 16px 0px;
    animation: fadein 0.3s 
        ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.record .avatar {
    display: block;
    border-radius: 16px;
    flex-grow: 0;
    height: 64px;
    width: 64px;
    border: 1px solid var(
        --gray-bottom);
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    min-width: 500px;
    justify-content: space-between;
    align-items: center;
}

.content .title {
    font-weight: 700;
    display: flex;
    color: var(--text-color);
    gap: 8px;
    white-space: nowrap;
}

.content .title a {
    color: var(--gray-link);
    display: flex;
    align-items: center;
    gap: 4px;
}

.content .title img {
    width: 16px;
    height: 16px;
}

.content .description {
    font-size: smaller;
}

.title-description {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.switch-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: 
        space-between;
    margin-right: 12px;
    margin-left: auto;
}

.switch__label {
    white-space: nowrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    min-width: 60px;
    height: 34px;
    margin-left: auto;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(
        --gray-bottom
    );
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: var(
        --primary-violet
    );
}

.switch input:checked + 
.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}