@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    position: relative;
}

.swiper-slide h2 {
    position: absolute;
    color: white;
    z-index: 10;
    left: 50%;
    top: calc(50% - 36px);
    font-size: 42px;
    transform: translate(-50%, -50%);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}